@use "./partials/breakpoints.scss" as *;

/* Layout variables */
$component-padding-mobile: 1rem;

/* Octopus Energy brand colours used in the design */
:root {
	--hemocyanin: #170048;
	--ice: #f0ffff;
	--plum: #610d6b;
	--purpleHaze: #9e98c1;
	--siphon: #10002f;
	--sohoLights: #f050f8;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Gotham, helvetica, arial, sans-serif;
	color: var(--ice);
}

body {
	width: 100%;
	background: var(--siphon);
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;

	header,
	main,
	footer {
		padding: $component-padding-mobile;
	}

	main {
		flex-grow: 1;
	}
}
